<div id="submit-bar">
	<%= hidden_field_tag :action_type, nil, :class => "quiz-submit-action" %>
	<div id="missing-field-error" class="error-message">
		Fields missing. Questions, answers, and results must have either an image or text.
	</div>
	<div id="correct-answer-error" class="error-message">
		There may only be one correct answer per question.
	</div>
	<div id="submit-bar-content">
		<div id="preview-quiz" class="btn">
			Preview
		</div>
		<div id="submit-actions">
			<div id="save-quiz" class="btn">Save</div>
			<div id="publish-quiz" class="btn">
			Publish
		</div>
		</div>
	</div>
</div>