<!-- 
	<script id="mNCC" language="javascript">
   medianet_width = "300";
   medianet_height = "600";
   medianet_crid = "212635408";
   medianet_versionId = "111299";
   (function() {
       var isSSL = 'https:' == document.location.protocol;
       var mnSrc = (isSSL ? 'https:' : 'http:') + '//contextual.media.net/nmedianet.js?cid=8CUSWN36E' + (isSSL ? '&https=1' : '');
       document.write('<scr' + 'ipt type="text/javascript" id="mNSC" src="' + mnSrc + '"></scr' + 'ipt>');
   })();
	</script>
 -->

 <!-- <div class="OUTBRAIN" data-widget-id= "TS_1" data-src = "" data-ob-template="PlayJunkie" ></div> -->

 <script type="text/javascript"><!--
document.write('<s'+'cript type="text/javascript" src="https://adbuff.com/amp/show.php?z=27&pl=29627&j=1&code='+new Date().getTime()+'"></s'+'cript>'); 
// --></script>
<noscript>
<iframe src="https://adbuff.com/amp/show.php?z=27&pl=29627" width="300" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
</noscript>