$background-white: #f7f7f7;
$light-outline: #ededed;
$dark-outline: #d7d7d7;
$grey: #ababab;
$dark-grey: #414141;

$red: #ff491c;
$hover-red: #df4019;
$orange: #ff9c1d;
$hover-orange: #e88d19;
$hover-grey: #c0c0c0;

$green: #12d66d;
$light-green: #e7faf0;
$pink: #ff799f;
$light-pink: #fff1f5;
$blue: #2e9be8;
$light-blue: #eaf5fc;

