
@font-face {
  font-family: 'Verlag';
  font-style: normal;
  font-weight: 400;
  src: asset_url('/assets/Verlag-Normal.ttf');
}
@font-face {
  font-family: 'Verlag';
  font-style: normal;
  font-weight: 800;
  src: asset_url('/assets/Verlag-Black.ttf');
}
@font-face {
  font-family: 'Verlag';
  font-style: normal;
  font-weight: 600;
  src: asset_url('/assets/Verlag-Bold.ttf');
}
