@import 'mixins';
@import 'variables';

footer {
	display: none;
}

@media (min-width: 940px) {
	 body footer {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(space-between);
		background: $light-outline;
		width: 100%;
		height: 376px;
		padding: 60px calc(50vw - 470px);
		.footer-main {
			@include flexbox;
			.col {
				li {
					color: $grey;
					margin-top: 20px;
				}
				a:first-child li {
					margin-top: 0px;
				}
			}
			.col.formats {
				margin-left: 120px;
			}
			.col.formats > li {
				font-weight: 600;
				margin-top: 0px;
			}
		}
		.footer-bottom {
			color: $grey;
		}
	}
}