@import 'mixins';
@import 'variables';

.content-container {
	margin-top: 44px;
	left: 0px;
	background: $background-white;
	width: 100%;
	height: auto;
	min-height: calc(100vh - 44px);
}

#flash-message {
	// display: none;
	position: absolute;
	color: $blue;
	top: 80px;
	left: calc(50vw - 470px);
	font-size: 24px;
}



@media (min-width: 1024px) {
	.content-container {
		margin-top: 60px;
		min-height: calc(100vh - 60px);
	}
}