@import 'variables';
@import 'mixins';


header {
	height: 44px;
	background: white;
	@include flexbox;
	padding: 0px 10px;
	@include justify-content(space-between);
	@include align-content(center);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	img:hover {
		cursor: pointer;
	}
	#search-icon, #menu-icon {
		width: 20px;
		height: auto;
	}
	#navbar-links {
		@include flexbox;
		@include align-items(center);
		div, input {
			display: none;
		}

	}
	#navbar-actions {
		display: none;
	}

	#logo, #logo img {
		width: auto;
		height: 22px;
		display: block;
	}
	#nav-dropdown {
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		position: fixed;
		z-index: 1;
		#close-dropdown {
			height: 14px;
			position: absolute;
			right: 12px;
			top: 12px;
			cursor: pointer; 
		}
		.dropdown-content {
			background: white;
			padding-top: 15px;
		}
		li {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			height: 44px;
			width: calc(100% - 120px);
			margin: 0 auto;
			border-bottom: 1px solid $light-outline;
			line-height: 44px;
		}
		li.no-outline {
			border-bottom: 0px;
		}
		li.bold {
			font-weight: 600;
		}
		li.list-header{
			color: $grey;
			font-weight: 800;
			background: $light-outline;
			width: 100%;
		}
		.nav-categories {
			background: $background-white;
			padding-bottom: 15px;
		}
	}
}

@media (min-width: 1024px) {
	header {
		height: 60px;
		padding: 0px calc(50vw - 470px); 
		#search-icon, #menu-icon {
			display: none;
		}	
		img.dropdown-arrow {
			height: 8px;
			width: 8px;
			margin-left: 5px;
		}
		#navbar-links {
			div, input {
				line-height: 60px;
				margin-left: 40px;
				display: block;
			}
			#logo, #logo img {
				width: auto;
				height: 30px;
			}
			input {
				width: 200px;
				height: 40px;
				padding: 0px 20px;
				line-height: 40px;
				border-radius: 5px;
				background: $background-white;
				border: 1px solid $light-outline;
				font-size: 16px;
			}
			input::-webkit-input-placeholder { 
			  color: $grey;
			  font-size: 16px;
			}
		}
		#navbar-actions {
			display: block;
			@include flexbox;
			@include align-items(center);
			div {
				color: $red;
				cursor: pointer;
			}
			#nav-profile-pic, #nav-profile-pic img {
				width: 30px;
				height: 30px;
				border-radius: 15px;
				display: block;				
			}
			#create-btn {
				height: 40px;
				background: $red;
				color: white;
				line-height: 40px;
				border-radius: 5px;
				width: 100px;
				padding: 0px 18px;
				margin-left: 20px;
			}
			#create-btn:hover {
				background: $hover-red;
			}

		}
	}
	
}

