<div class="content-container copy-container">
	<h1>Terms</h1>


    <h2>Introduction</h2>
    <p>Welcome!</p>

    <p>These Terms of Use (the "<b>Terms</b>") apply to your ("<b>you</b>", "<b>your</b>" or "<b>User</b>") use of: (i) our website (available at <a href="//www.Playjunkie.com" target="_blank">www.Playjunkie.com</a>; the "<b>Website</b>"); (ii) our mobile apps (the "<b>Application</b>"); (iii) our other products or services; and (iv) any extensions or derivatives of our Website or any part thereof (including any APIs, pixels, tags, cookies, iFrames, scripts or any other software components necessary to enable connection to the Website) which may be embedded on third party websites, blogs, social networking platforms, applications or other third party online services (the “<b>Embedded Items</b>”) (together, the "<b>Platform</b>"), which are owned or operated by Playjunkie Inc. ("<b>us</b>", "<b>we</b>", "<b>our</b>" or "<b>Playjunkie</b>").</p>
    <br>
    <p>Please read these Terms carefully; if you visit, access or use the Platform you agree to be bound by these Terms and by our <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a>, which is incorporated herein by reference. </p>
    <br>
    <p>Certain features of the Platform may be subject to additional terms and conditions specified by us from time to time, and your use of such features is subject to those additional terms and conditions, which are incorporated into these Terms by reference. For example, embedding, distributing, publishing or linking any content made available on our Website (including User Content or Playjunkie Content, as defined below) in the form of an Embedded Item, is subject to our <a target="_blank" href="/PublisherTerms">Publisher Terms.</a></p>
    <br>
    <p>Before diving into the Terms, a few important notes (please note that the below summary is provided solely for your convenience, and does not derogate or replace the provisions of these Terms. You should always read the entire Terms to better understand your obligations and rights):</p>
    <br>
    <ul>
        <li>
            <p><strong>Acceptance –</strong><br>
            When using the Platform in any manner (for example by visiting the Website, downloading the Application, creating a Playjunkie Account or contributing content to the Platform), you agree to these Terms, our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a> and <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a>. These policies may be updated from time to time without notice so be sure to check-in every once in a while!</p>
        </li>
        <li>
            <p><strong>Liability  –</strong><br>
            We strive hard to provide you an awesome and safe experience when using our Platform, but unfortunately we cannot guarantee that it will always be perfect (for example, we cannot guarantee that the Platform will always be provided error-free).<br>
            The content that appears on our Platform is intended only for informational, educational or entertainment purposes. Your use of our Platform or reliance on such content is at your own risk.<br>
            Note that most of the content on the Platform is created by our Users. We do not regularly monitor the content which appears on our Platform, and we do not endorse or assume any responsibility with respect to such content. Also, the Platform contains links to third party websites or platforms which are not controlled by us.</p>
        </li>
        <li>
            <p><strong>Your content  –</strong><br>
                You are solely responsible for any content that you decide to share with us.<br>
                If you post your content on our Platform, it still belongs to you but we can show it to others and use it for advertising and other purposes. Also, others can interact, translate, edit and modify your content, and republish it (for example, on their website or blog) in accordance with our <a target="_blank" href="/PublisherTerms">Publisher Terms.</a> Copies of content shared with others may remain even after you delete the content from your Playjunkie Account.
            </p>
        </li>
        <li>
            <p>
                <strong>Restriction on use  –</strong><br>
                You may only use the Platform for lawful purposes, and without violating the rights of others (for example others' intellectual property rights). Please visit our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>, which you agree to be bound by with respect to any content that you post to our Platform and your behavior on our Platform.
            </p>
        </li>
        <li>
            <p>
                <strong>Children   –</strong><br>
                Our Platform is not intended to be used by children under the age of 13.
            </p>
        </li>
        <li>
            <p>
                <strong>Report violations   –</strong><br>
                If you feel that your rights have been violated, or if you would like to report an abuse of our Terms or our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>, please view our Reporting Abuse Policy. If you would like to report about a violation of your Copyrights, please visit our Copyright Policy. Please note that reporting something doesn't guarantee that it will be removed, for various reasons
            </p>
        </li>
        <li>
            <p>
                <strong>Arbitration notice and class action waiver   –</strong><br>
                Except for certain types of disputes described in the arbitration section below, you agree that disputes between you and us will be resolved by binding, individual arbitration and that you waive your right to participate in a class action lawsuit or class-wide arbitration.
            </p>
        </li>
    </ul>
    <br>
    <h2>Eligibility</h2>
    <p>You may use our Platform only if you can form a binding contract with Playjunkie, and only in compliance with these Terms and all applicable laws. Any use or access by anyone under the age of 13 is prohibited. By accessing this Platform, you certify to us that you are at least 13 years old. If you would like to report any violation of this prohibition, please visit our <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a>.</p>
    <br>
    <h2>Playjunkie Account</h2>
    <p>In order to access certain features of the Platform you must register to create an account ("<strong>Playjunkie Account</strong>"). You can also register by logging into your account with certain third party social networking platforms (for example Facebook or Google+) by providing us your login information on such platforms. Please note that logging through your social networking platforms is voluntary and that during your registration, Playjunkie will receive certain information
        included in your public profile. Please note that you may control the scope of information that is accessible to us by adjusting your privacy settings in your social networking platforms’ accounts. To learn what type of information we collect during registration, please visit our <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a>.<br>
        When you create your Playjunkie Account, you must provide us with up-to-date, accurate and complete information. You shall not impersonate any person or entity or misrepresent your affiliation with any person or entity, including using another person's or entity's username, password or other account information. Playjunkie reserves the right to suspend or terminate your Playjunkie Account and your access to the Platform. <br>
        Your Playjunkie Account and your Playjunkie Account profile page will be created for your use of the Platform and based upon the information you provided us, and will be publicly available on our Platform for anyone to see and visit (including certain information that you have provided during the registration process – for example your name, the date that you’ve opened your Playjunkie Account, your image and other information that you choose to share).<br>
        You are responsible for safeguarding your password or log-in credentials. You agree that you will not disclose your password to any third party and that you will take sole responsibility for any activities or actions under your Playjunkie Account, whether or not you have authorized such activities or actions. You hereby release Playjunkie from any and all liability concerning such activities or actions and you will immediately notify us of any unauthorized use of your Playjunkie Account.<br>
    </p>
    <br>
    <h2>Business Account</h2>
    <p>
        If you intend to use our Platform for any business or commercial purposes (including, without limitation, by embedding any content on your commercial website or on any other third party website, or using the Platform for monetization purposes), then you should notify us at: <a href="mailto:commercial@Playjunkie.com">commercial@Playjunkie.com</a> and ask for our prior written approval for any such use. Please note that using our Platform for business or commercial purposes may be subject to additional terms (in addition to these Terms, the Privacy Policy and the Publisher Terms, as applicable) and payment, if applicable.<br>
        Subject to the above, please note that if you register to such an account for business or commercial purposes, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and to bind the entity to these Terms, and that you agree to these Terms on the entity's behalf.<br>
    </p>
    <br>
    <h2>License</h2>
    <p>
        Subject to these Terms and to our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>, we grant you a limited, non-exclusive, non-transferable, and revocable license to access and use our Platform as provided herein.<br>
        You may not, and may not encourage or assist others to:<br>
    </p>
    <ul>
        <li>
            <p>Publish, distribute, sell, disclose, market, sublicense, rent, lease, display, provide, transfer or make available the Platform, any portion thereof or any content displayed therein, to any third party, except as explicitly permitted in these Terms or with our prior permission; <br></p>
        </li>
        <li>
            <p>Decompile, reverse engineer, disassemble, enhance, or otherwise make any attempt to discover the source code of, modify, reproduce, hack, or create derivative works from the Platform or any portion thereof or any content displayed therein.<br></p>
        </li>
        <li>
            <p>Violate any of the terms provided herein or any restriction or limitation as provided in our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>.</p>
        </li>
    </ul>
    <br>
    <h2>User Content</h2>
    <p>
        <strong>General</strong><br>
        Our Platform allows our Users to create and compose content items by uploading various types of content (such as text, photos, images, animations, graphics, logos, designs, audio and video files) via the interactive content formats that are included in the Platform (such as personality test, flip cards, trivia, lists, polls and others) as well as other content (such as posts, comments or landing pages), through and on our Platform (together "User Content"). Some User Content will be attributed to the User who has created it (as reflected in a "Created by" or in a “Translated by" tag).
    </p>
    <p>
        <strong>Grant of License </strong><br>
        When you create, publish, post, upload or contribute User Content to our Platform, such User Content belongs to you, and you agree to grant Playjunkie an irrevocable, non-exclusive, worldwide, transferable, perpetual, royalty-free, sub-licensable license to:<br>
    </p>
    <ul>
        <li><p>Use, copy, store, publish, display, broadcast, make publicly available, exploit, link, distribute, reproduce, download, translate, abridge, amend, modify, adapt, create derivative works of and otherwise use the User Content, and to allow Playjunkie to sub-license others to do so, for the purpose of providing, publishing, embedding, distributing or promoting the Platform (including for any advertising or commercial purposes related thereto); and <br></p></li>
        <li><p>Incorporate advertising material or sponsored content inside or adjacent to the User Content, as well as publishing, distributing or promoting User Content through the Platform, on any media channels and in any format, including in Embedded Items, and to authorize others (including, without limitation, our service providers, partners, advertisers, publishers and clients) to do so, without any obligation to compensate you; and<br></p></li>
        <li><p>Identify and credit you as the creator or translator of such User Content, and use any information that you have provided during your registration to our Platform (for example your name, photograph and other information) in connection with the publication, distribution, advertising or promotion of the User Content, and to allow others to do so for any purpose. However, this does not require or obligate us to provide such credit, if any, to you, and we reserve the right to omit such credit or attribution at any time and in our sole discretion.</p></li>
    </ul>
    <p>
        If you choose to make your User Content publicly available on our Platform, you hereby grant any person (including non-registered users of our Platform) a non-exclusive, perpetual license to view, use or interact with your User Content (for example by voting, ranking or submitting commentary) as well as to translate, edit and modify your User Content, and to allow others to share and embed your User Content outside of the Website (for example, in Embedded Items), subject to the terms and conditions in our <a target="_blank" href="/PublisherTerms">Publisher Terms.</a>
    </p>
    <br>
    <p>
        The licenses detailed in this section shall remain in full force and effect after the termination of your Playjunkie Account or your use of the Platform (including if you decided to delete your User Content), for any reason whatsoever, and shall not effect or derogate from your ownership rights over the User Content, as provided in these Terms.<br>
    </p>
    <p>
        Note that once your User Content was already displayed on our Website, then any removal of such content is subject to our prior approval and is under our sole discretion. In the event that you wish to remove such content, please contact us at <a href="mailto:community@Playjunkie.com">community@Playjunkie.com</a>.
    </p>
    <br>
    <p>
        <strong>User Representations</strong><br>
        When you create, publish, post, upload or contribute User Content to our Platform, you represent to us that:
    </p>
    <ul>
        <li><p>The User Content does not violate these Terms and our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>.</p></li>
        <li><p>The User Content is accurate, complete, and up-to-date and does not violate the applicable laws or any person's rights (for example, any person's privacy or publicity rights).</p></li>
        <li><p>You have obtained all rights (including intellectual property rights) and approvals, necessary to grant Playjunkie and other Users (including, without limitation, our publishers) the licenses provided herein in connection with the User Content, and that your use of the User Content doesn’t conflict with any permits or licenses you may have granted to others, and doesn't infringe or misappropriate any third- party rights, including any privacy or publicity rights, moral rights, copyrights or intellectual property rights, contract rights, or any other or proprietary rights.</p></li>
        <li><p>You are solely responsible for the User Content, and assume all risks associated with it, including any person's reliance on its accuracy or claims that might stem from such User Content (including any claims concerning the fitness or accuracy of your translation of User Content), as well as any liability, cost, expense or loss to Playjunkie or to any third party (including, without limitation, our publishers) resulting from such User Content, and agree to indemnify and hold Playjunkie or anyone on its behalf (including our and our subsidiaries’ shareholders, directors, officers, employees, service providers, partners and agents) harmless from any liability, cost, damage and expense (including reasonable legal fees) caused or resulting from the User Content.</p></li>
        <li><p>You understand that we are under no obligation and do not guarantee that the User Content will be displayed or promoted on our Platform (including the Website, Application or the Embedded Items).</p></li>
        <li><p>You understand that although we exercise reasonable efforts to preserve the materials stored on the Platform, you are solely responsible for creating back-ups of your User Content, and we shall not be responsible or liable in any way for the failure to preserve your User Content</p></li>
        <li><p>Playjunkie's subcontractors and third party service providers are intended third party beneficiaries of these Terms and upon your acceptance of these Terms, Playjunkie's subcontractors and third party service providers will have the right to enforce these Terms as related to the licenses granted herein against you as third party beneficiaries thereof.</p></li>
    </ul>
    <p>
        <strong>Translation Feature</strong><br>
        To increase the connectivity among our Users, our Platform allows Users to create a derivative translated work based on content which was made available on our Platform. Such translations may be accredited to the User submitting the translation (as reflected in a "Translated by" tag), in addition to the original creator's attribution.<br>
        In the event that you translate Content which was made available on the Platform, you represent that such translation (which shall be deemed as User Content) does not violate these Terms and our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>. <br>
        Please note that we do not monitor, pre-screen or approve any translations. We cannot guarantee their quality, accuracy or fitness for any purpose, and you assume all risk associated with your reliance on such translations.
    </p>
    <p>
        <strong>Disclaimers</strong><br>
        Although we reserve the right to do so, we do not regularly monitor, pre-screen or approve User Content. Playjunkie accepts no responsibility with regards to any User Content, and cannot guarantee its accuracy, integrity, quality or fitness for any purpose. <br>
        The content that appears or made available through our Platform is <strong>intended for informational, educational or entertainment purposes only</strong>. Therefore, errors may appear from time to time. Note that any content items on the Platform that include polls, voting, etc. are not intended to be of a scientific sample or search, and should not be relied upon as such. Before you act on information that you've found on our Platform, you should confirm any facts that are important to your decision. <strong>Any reliance on such content is at your sole risk</strong>.<br>
        Please note that some User Content may not be suitable or appropriate for all audiences. If you feel that any content or behavior violates our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>, please visit our Reporting Abuse Policy. If you feel that your copyrights have been violated, please visit our Copyright Policy.
    </p>

    <p>
        <strong>Audience, Permissions and Translation Controls</strong><br>
        We have developed control tools which allow you to select who can view, interact with, translate, share or embed your User Content. The choices ticked by you during the content creation process, may determine how your content will be used, displayed, and shared:
    </p>
    <ul>
        <li>
            <p>
                <strong>Public</strong><br>
                Selecting "Public" will make the User Content publicly available (for example, it may be featured on our Website, our Application and on the Embedded Items). This means that you are allowing anyone (including non-registered users of the Platform) to view and interact with your User Content, to share and embed it within the Embedded Items and to associate it with you.
            </p>
        </li>
        <li>
            <p>
                <strong>Direct Link</strong><br>
                Selecting "Direct Link" will make the User Content available for embedding only to persons who have access to the User Content's URL. This means that you will be able to embed your User Content wherever you include that URL and that as a default, such User Content will not be publicly displayed on the Website. However, it should be noted that all User Content is hosted on the Website and can be accessed if a User has received a link thereto which will allow access to that specific page where it resides.
            </p>
        </li>
        <li>
            <p>
                <strong>Only Me</strong><br>
                Selecting "Only Me" will make the User Content available and visible only to you.<br>
                <br>
                You understand that by making your User Content available for translation on our Platform (by allowing "Translation" during the content creation process), you are allowing other Users to translate, edit and modify your User Content, and to associate such translation with you.<br>
            </p>
        </li>
    </ul>
    <p>
        <strong>User Feedback</strong><br>
        We value feedback from our Users, and are always interested in learning about ways we can improve our Platform. If you choose to submit comments, ideas or feedback, you agree that we are free to use them without any restriction or compensation to you. By accepting your submission, we do not waive any rights to use similar or related feedback and suggestions previously known to us, or developed by our employees, or obtained from sources other than you.
    </p>
    <h2>Proprietary Rights</h2>
    <p>All right, title and interest in and to the Platform, including compilations, digital conversions, magnetic translations, software and other materials related to the Platform are and shall at all times remain the sole and exclusive property of Playjunkie, and are protected by applicable intellectual property laws and treaties.<br></p>
    <p>
        All materials and contents (other than the User Content) displayed, made available, included, incorporated, uploaded, posted, published, contributed, performed or used on this Platform, including, without limitation, any games, quizzes, lists, feeds, text, graphics, logos, photographs, images, audio, video, animations, themes, and content which was created by Playjunkie (together “<strong>Playjunkie Content</strong>”), are: <br>
    </p>
    <ul style="list-style-type: upper-roman;">
        <li><p>The sole property of Playjunkie and/or third parties, as applicable (including, without limitation, with respect to content from Getty Images further detailed below);</p></li>
        <li><p>Protected by applicable intellectual property rights, including copyright laws; and </p></li>
        <li><p>Intended solely for the personal use of Users within the Platform, and may only be used in accordance with these Terms. </p></li>
    </ul>
    <p>
        All data related to the Platform or collected through the Platform (including through the use of tags, pixels, cookies, scripts or any other software components) shall be the sole property of Playjunkie. All trademarks, service marks, trade names, logos, and any other proprietary designations of Playjunkie used herein, are trademarks or registered trademarks of Playjunkie. Any other trademarks, service marks, trade names, logos and any other proprietary designations are the trademarks or registered trademarks of their respective parties.
        In addition, the arrangement and compilation of the Website and the Applications (including, without limitation, the “look &amp; feel”) are the exclusive property of Playjunkie and are protected by copyright laws.<br>
    </p>
    <p>
        All rights not expressly granted to you in these Terms are reserved by Playjunkie.
    </p>
    <p>The Platform contains User Content and Playjunkie Content. Such content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. You shall abide by and maintain all copyright notices, information, and restrictions contained in any content accessed through the Platform. </p>
    <p>Please note that the Platform may also contain sponsored content, which is promoted and/or sponsored by third parties. </p>
    <p>Except as explicitly specified herein, User may not download, copy, modify, publish, transmit, upload, participate in the transfer or sale of, reproduce, create derivative works based on, distribute, perform, display, or in any way exploit, the content included on this Platform or any part thereof. Without derogating from the generality of the aforesaid, downloading, copying, or storing any content for any purpose is expressly prohibited without prior written permission from Playjunkie.</p>
    <h2>Reporting Abuse Policy</h2>
    <p>
        <strong>
            We may edit, modify, disable access or remove any content (including User Content) from our Platform (including from the Embedded Items), for any reason, at any time and without prior notice. In addition, we may take action against any person who we suspect of violating our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a> or abusing our Terms, by blocking access to our Platform, or by suspending or terminating a User's Playjunkie Account, at our sole discretion, at any time and without prior notice. In some cases, we may also initiate legal actions and/or contact law enforcement agencies.
        </strong>
    </p>
    <p>
        If you feel that any person or content is abusing our policies, our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a> or these Terms, or otherwise violating your rights, please contact us at: <a href="mailto:legal@Playjunkie.com">legal@Playjunkie.com</a>. Be sure to identify the specific content and the reason you feel it should be removed. If you feel that any content is violating your intellectual property rights, please review our Copyright Policy.
    </p>
    <p>
        <strong>
            Please remember that reporting something doesn't guarantee that it will be removed. For example, we cannot guarantee that the content will be removed if it is not hosted or controlled by us.
        </strong>
    </p>
    <p>
        In addition, because we want to foster a positive and diverse community, not all inappropriate or disagreeable content violates our policies (for example, some content which addresses serious events in a humorous or satirical way, or content that is not suitable for all audiences).
    </p>
    <p>
        <strong>
            For these reasons, we cannot guarantee that any content will be removed, and cannot assume any liability if any content was not removed.
        </strong>
    </p>
    <h2>Copyright Policy</h2>
    <p>
        <strong>General</strong>
        We are deeply committed to safeguard the intellectual property rights of others, and expect our Users to do the same. In the appropriate circumstances and under our sole discretion, we may disable or terminate the Playjunkie Accounts of Users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others.<br>
        In accordance with the Digital Millennium Copyright Act of 1998, we will respond expeditiously to claims of copyright infringement committed using the Platform that are reported to Playjunkie's Designated Copyright Agent, identified in the sample notice below.
    </p>
    <p>
        <strong>Submit a Notice</strong><br>
        If you are a copyright owner, or are authorized to act on behalf of one, and you believe in good faith that any material or content made available on or through the Platform has been used or exploited in a manner that infringes or violates any work or other intellectual property you own or control, please report the alleged copyright infringements taking place on or through the Platform by completing the following DMCA Notice of Alleged Infringement ("Notice") and delivering it to Playjunkie's Designated Copyright Agent. Upon receipt of the Notice as described below, we will take whatever action, in our sole discretion, as we deem appropriate, including removal of the challenged material from the Platform.
    </p>
    <p>
        You can submit a Notice by:<br>
    </p>
    <ul>
        <li><p>Filling in and submitting our <a href="//publishers.Playjunkie.com/dmca-complaint/" target="_blank">online form</a>; or</p></li>
        <li>
            <p>Providing the following information to our Designated Copyright Agent:</p>
            <ul>
                <li><p>Identify the copyrighted work that you claim has been infringed, or – if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</p></li>
                <li>
                    <p>Identify: </p>
                    <ul style="list-style-type: upper-roman;">
                        <li>
                            <p>the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link(s) shown on the Platform where such material may be found; and</p>
                        </li>
                        <li>
                            <p>
                                the reference or link, to the material or activity that you claim to be infringing, that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate that reference or link, including at a minimum, if applicable, the URL of the link(s) shown on the Platform where such reference or link may be found.
                            </p>
                        </li>
                    </ul>
                </li>
                <li><p>Provide your contact details – mailing address, telephone number, and, if available, email address.</p></li>
                <li><p>Include both of the following statements in the body of the Notice:<br>
                     "I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."<br>
                     "I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."
                    </p>
                </li>
                <li>
                    <p>Provide your full legal name and your electronic or physical signature.<br>
                        Deliver this Notice, with all items completed, to Playjunkie's Designated Copyright Agent:<br>
                        </p><ul>
                            <li><p>Via email:<a href="mailto:dmca@Playjunkie.com"> dmca@Playjunkie.com</a></p></li>
                        </ul>
                    <p></p>
                </li>

            </ul>
        </li>
    </ul>
    <p>
        Upon receipt of a valid Notice, our policy is to remove or disable access to any content or material that we believe in good faith is infringing or violating the copyrights or other intellectual property rights of any third party, and to notify the alleged infringer that we have removed or disabled access to such content or material. We will use our best efforts to remove or disable access to such content that was already embedded on the Embedded Items, however we cannot guarantee that it will be removed or disabled. In addition, we reserve the right to remove or disable access to any content or material posted, uploaded, published or incorporated in or to the Platform by repeated infringers.
    </p>
    <h2>What if I received a Notice?</h2>
    <p>If you receive a Notice it means that certain User Content that you have uploaded to the Platform has been deleted from the Platform at the request of the content's owner or authorized licensee. If you want us to forward the information from the Notice, please email us at: <a href="mailto:dmca@Playjunkie.com">dmca@Playjunkie.com</a> to let us know. </p>
    <p>If you believe in good faith that the content was removed in error, you have the option to file a counter-notice ("<strong>Counter Notice</strong>") by following the steps below. When we receive a valid Counter Notice, we may remove the complaint from your Playjunkie Account's record (at our discretion).  </p>
    <p>
        You Counter Notice should include all of the following:<br>
    </p>
    <ul>
        <li><p>Your name, address, and telephone number.</p></li>
        <li><p>DMCA ID printed at the bottom of the notification email.</p></li>
        <li><p>The source address of the content that was removed (copy and paste the link in the Counter Notice).</p></li>
        <li><p>A statement under penalty of perjury that you have a good faith belief that the content was removed in error.</p></li>
        <li><p>A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which Playjunkie is located, and that you will accept service of process from the person who provided the original complaint or an agent of such person.</p></li>
        <li><p>Provide your full legal name and your electronic or physical signature</p></li>
    </ul>
    <p>Please email your Counter Notice to: <a href="mailto:dmca@Playjunkie.com">dmca@Playjunkie.com</a><br>
        If a proper Counter Notice is received by us, we may send a copy thereof to the original complaining party and inform him/her that that Playjunkie may replace the removed material or cease disabling access to it in ten (10) business days. Unless Playjunkie first receives notice from the copyright owner of the allegedly infringed work(s) or his/her agent that such person has filed an action seeking a court order to restrain the alleged infringer from engaging in infringing activity relating to the referenced material on the Platform, Playjunkie may, at its sole discretion, replace such material and cease disabling access to it within ten (10) business days or more following receipt of the Notice, at our discretion.
     </p>
    <p>
        <strong>Be truthful</strong><br>
        Please note that when you provide us a Notice or a Counter Notice, we are relying on the information that you have provided us. Any person who knowingly misrepresents that the material or activity is infringing, shall be liable for any damages, including costs and attorneys' fees, incurred to the alleged infringer, to any copyright owner, copyright owner's authorized licensee or to Playjunkie, who is injured by such misrepresentation.<br>
        Please remember that there are legal and financial consequences for fraudulent or bad faith submissions. Before submitting a Notice or a Counter Notice, be sure that you are the actual rights’ holder of the content or that you have a good faith belief that the material was removed in error, and understand the repercussions of submitting a false claim.
    </p>
    <h2>Privacy Policy</h2>
    <p>To demonstrate our commitment to your privacy, we have developed our <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a> which outlines our practices with respect to the collection, use and disclosure of information relating to your activities on the Platform (including the Embedded Items), including, without limitation, information provided during the registration process, information relating to your device, to your interaction with content on the Platform and with advertisements, etc. By using our Platform, you acknowledge that you have reviewed our <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a> and agree to be bound by its terms and conditions.</p>
    <h2>Links or Access to Third Party Content</h2>
    <p>
        Our Platform may contain links to third party websites, apps, services, offering, materials, products, advertisements, recommendations or other events or activities ("<strong>Third Party Content</strong>") that are not owned or controlled by us. We do not control, endorse or assume any responsibility for any such Third Party Content. If you access any Third Party Content from our Platform, you do so at your own risk and you agree that we will have no liability arising from your use of or access to any Third Party Content. Please be aware that such Third Party Content own terms of use and privacy policy will apply and govern your activities and any information you disclose while interacting with such Third Party Content.
    </p>
    <p>
        <strong>Getty Images</strong><br>
        We may (but are not obligated to) allow you access to images, graphics, stills, designs, text, audios, videos and other material which was licensed to Playjunkie by Getty Images ("<strong>Getty Content</strong>"). You shall not, and shall not assist others to download, republish, retransmit, reproduce or otherwise use any of the Getty Content as a stand-alone file (meaning, separate of the User Content to which it is incorporated, such as for a screensaver). <br>
        You further agree to abide by any additional terms or restrictions applicable to your use of Getty Content, as we may convey to you from time to time. You are fully responsible and assume any and all liability in connection with your use of Getty Content.<br>
        Playjunkie reserve the right, at any time and in its sole discretion, to restrict or block your access to or use of Getty Content, and to remove any Getty Content, including from Playjunkie Content which was embedded on third party websites, social networking platforms or applications.<br>
    </p>
    <h2>Third Party Software</h2>
    <p>Portions of the Platform may include software that we license from third parties, which may include open source software or related components ("<strong>Third Party Software</strong>"). Third Party Software is subject to the terms and conditions imposed by the licensors of that Third Party Software. We do not make any warranty with respect to Third Party Software. For further information about Third Party Software, please visit <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieOpenSourceDisclosure.pdf">here</a>. You agree that your use of the Platform is subject to the applicable Third Party Software referred to therein. Please note this list may be updated from time to time.</p>
    <h2>Termination</h2>
    <p>
        Playjunkie may terminate or suspend the licenses provided herein at any time and cease providing you access to our Platform, with or without cause or notice to you.<br>
        If you violate these Terms or our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a>, or if you violate any terms, restrictions or limitations specified in any additional agreement(s) you may enter into with Playjunkie or that may apply to your specific use of the Platform, or if you otherwise create risk or possible legal exposure for us, we can immediately stop providing you access to all or part of the Platform and terminate the licenses provided herein (including by suspending or terminating your Playjunkie Account, or otherwise restricting your access to our Platform) and/or the additional agreement(s), as applicable. <br>
        Upon termination, you continue to be bound by sections: License, User Content, Proprietary Rights, Reporting Abuse Policy, Copyright Policy, Privacy Policy, Links or Access to Third Party Content, Termination, Indemnification, Limitations on Liabilities, Warranty Disclaimer, Disputes and Miscellaneous. Termination of a User’s access to and use of the Platform shall not relieve User of any obligations arising or accruing prior to such termination or limit any liability which User otherwise may have to Playjunkie, including without limitation any indemnification obligations contained herein.
    </p>
    <h2>Indemnification</h2>
    <p>If anyone brings a claim against us related to your use of our Platform, your actions or your User Content (including any claim concerning violation or infringement of any proprietary rights), you will indemnify and hold us (including our and our subsidiaries’ shareholders, directors, officers, employees, and agents) harmless from and against all damages, losses, costs and expenses of any kind (including reasonable legal fees and costs) related to such claim.</p>
    <h2>Limitations on Liabilities</h2>
    <p>To the maximum extent permitted by law, we (including our and our subsidiaries’ shareholders, directors, officers, employees, and agents) shall not be liable for any personal injury, indirect, incidental, special, exemplary, consequential or punitive damages, or any loss of profits or revenues (regardless of whether we were advised of the possibility of such damages), whether incurred directly or indirectly, or any loss of data, use, good-will, or other intangible losses, resulting from (a) your access to or use of or inability to access or use the Platform; (b) any conduct or content of any third party on the Platform, including without limitation, any defamatory, offensive or illegal conduct of other Users or third parties; and (c) unauthorized access, use or alteration of your transmissions or content. In no event shall our (including our and our subsidiaries’ shareholders, directors, officers, employees, and agents) aggregate liability for all claims relating to the Platform exceed the higher of: (a) one hundred U.S. Dollars (U.S. $100.00) or (b) the fees paid, if any, to Playjunkie for the use of the Platform. Applicable laws may not allow the limitation or exclusion of liability or incidental or consequential damages, so the above limitation or exclusion may not apply to you. In such cases, our liability will be limited to the fullest extent permitted by applicable laws.</p>
    <h2>Warranty Disclaimer</h2>
    <p>The Platform and all included content (including any Playjunkie Content or User Content) are provided on an "AS IS" and "AS AVAILABLE" basis without warranty of any kind. We specifically disclaim any and all warranties, express or implied, and conditions of merchantability, title, fitness for a particular purpose, and non-infringement. We do not guarantee that the Platform and all included content will always be complete, accurate, safe, secure, bug-free or error-free, or that the Platform and all included content will always function without disruptions, delays or imperfections. We may change, suspend or discontinue the Platform (or any part thereof, including the Playjunkie Content) at any time, including the availability of any feature or database, without notice or liability. In addition, we may impose limits on certain features and services or restrict User’s access to the Platform (or any part thereof) without notice or liability.</p>
    <p>We do not control or direct Users' actions on our Platform and are not responsible for the content or information Users transmit or publish on or through our Platform. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on our Platform. We are not responsible for the conduct, whether online or offline, of any User of our Platform.</p>
    <p>To the fullest extent permitted by law, we disclaim any responsibility or liability for the accuracy, reliability, availability, completeness, operability of the Platform or to any content (including Playjunkie Content or User Content) included in the Platform. By using the Platform, you acknowledge and agree that Playjunkie is not responsible or liable for any harm, loss or damage resulting from or in connection with the use or access thereof, including without limitation, any harm, loss or damage that: (i) results from the suspension, modification, discontinuance or lack of availability of the Platform; (ii) results from unauthorized use, temporary or permanent non-performance of the Platform, errors or omissions (including, without limitations, due to maintenance, upgrades and repairs or due to failure of telecommunications links and equipment); (iii) relates to the actions, content, information, or data of third parties, including any Playjunkie Content or User Content; or (iv) results from any viruses, worms, Trojan Horses, or any similar contamination or destructive program. You expressly acknowledge and agree that the use of the Platform is at your sole risk and that the entire risk as to satisfactory quality, performance, accuracy and efforts is solely with you. </p>
    <h2>Downloading Application from the App Store</h2>
    <p>
        The following applies to any Application accessed through or downloaded from the Apple App Store ("<strong>App Store Sourced Application</strong>"):
    </p>
    <ul>
        <li><p>You acknowledge and agree that (i) these Terms are concluded between you and Playjunkie only, and not Apple; and (ii) Playjunkie, not Apple, is solely responsible for the App Store Sourced Application and content thereof. Your use of the App Store Sourced Application must comply with the App Store Terms of Services.</p></li>
        <li><p>You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the App Store Sourced Application.</p></li>
        <li><p>In the event of any failure of the App Store Sourced Application to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the App Store Sourced Application to you and to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the App Store Sourced Application. As between Playjunkie and Apple, any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of Playjunkie.</p></li>
        <li><p>You and Playjunkie acknowledge that, as between Playjunkie and Apple, Apple is not responsible for addressing any claims you have or any claims of any third party relating to the App Store Sourced Application or your possession and use of the App Store Sourced Application, including, but not limited to: (i) product liability claims; (ii) any claim that the App Store Sourced Application fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p></li>
        <li><p>You and Playjunkie acknowledge that, in the event of any third party claim that the App Store Sourced Application or your possession and use of that App Store Sourced Application infringes that third party's intellectual property rights, as between Playjunkie and Apple, Playjunkie, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms.</p></li>
        <li><p>You and Playjunkie acknowledge and agree that Apple, and Apple's subsidiaries, are third party beneficiaries of these Terms as related to your license of the App Store Sourced Application, and that, upon your acceptance of the terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms as related to your license of the App Store Sourced Application against you as a third party beneficiary thereof.</p></li>
    </ul>
    <p>
        Without limiting any other terms of these Terms, you must comply with all applicable third party terms of agreement when using the App Store Sourced Application.
    </p>
    <h2>Disputes</h2>
    <p>
        <strong>Governing law</strong><br>
        These Terms and your use of the Platform shall be governed by the laws of the State of California, without respect to its conflict of laws principles. You and Playjunkie agree to submit to the personal jurisdiction of competent courts located in California, for any actions not subject to the Arbitration section below.
    </p>
    <p>
        <strong>Arbitration &amp; class action waiver </strong><br>
        For any dispute, claim or controversy arising out of or in relation to these Terms or to the breach, termination, enforcement, interpretation or validity thereof, or to your access or use of the Platform (together "Dispute"), you agree to first contact us and attempt to resolve the Dispute with us informally. <br>
        If Playjunkie has not been able to resolve the Dispute with you informally, you and we agree to resolve any Dispute by binding individual arbitration. Any provision of applicable laws notwithstanding, the arbitrator will not have authority to award damages, remedies or awards that conflict with these Terms. <br>
        The arbitration shall be conducted in California. If your claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of documents you and Playjunkie submit to the arbitrator, unless the arbitrator determines that a hearing is necessary.<br>
    </p>
    <p>Nothing in this section shall prevent either party from seeking injunctive or other equitable relief from the courts to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents, or other intellectual property rights and for matters related to data security or unauthorized access to the Platform. All claims must be brought in the parties' individual capacity, and not as a plaintiff or class member in any purported class or representative proceeding, and, unless we agree otherwise, the arbitrator may not consolidate more than one person's claims. </p>
    <p>You agree that, by entering into these Terms, you and Playjunkie are each waiving the right to a trial by jury or to participate as a class representative or class member on any class claim you may have against us including any right to class arbitration or any consolidation of individual arbitrations. You also agree not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person, if we are a party to the proceeding.</p>
    <h2>
        Modifications to these Terms
    </h2>
    <p>
        We may revise these Terms from time to time, in our sole discretion and the most current version will always be posted on our website (as reflected in the "Last Revised" heading). We encourage you to review these Terms regularly for any changes. By continuing to access or use the Platform after any revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new Terms, please stop accessing or using the Platform.
    </p>
    <h2>Miscellaneous</h2>
    <p>
        <strong>Email Notifications</strong><br>
        We reserve the right to determine the form and means of providing notifications to you, and you agree to receive legal notices electronically if we so choose.
    </p>
    <p>
        <strong>Severability and Entire Agreement</strong><br>
        These Terms, together wEith our <a target="_blank" href="//cdn.Playjunkie.com/content/legal/PlayjunkieCommunityStandards.pdf">Community Standards</a> and the <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a> and any amendments thereto, and any additional agreements you may enter into with Playjunkie or that may apply to your specific use of the Platform, constitute the entire agreement between you and Playjunkie with respect to the use of the Platform, and supersede all prior or contemporaneous communications and proposals, whether oral, written or electronic, between you and Playjunkie with respect to the use of the Platform. Any reference to Playjunkie's End User License Agreement(EULA), or any versions thereof, shall apply to these Terms. If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder
    </p>
    <p>
        <strong>Force Majeure</strong><br>
        Playjunkie shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation.
    </p>
    <p>
        <strong>Assignment</strong><br>
        These Terms are personal to you, and are not assignable, transferable or sub-licensable by you except with our prior written consent. We may assign, transfer or delegate any of our rights and obligations hereunder without consent.
    </p>
    <p>
        <strong>Relationship</strong><br>
        No agency, partnership, joint venture, or employment relationship is created as a result of these Terms, and neither party has any authority of any kind to bind the other in any respect.
    </p>
    <p>
        <strong>No Waiver</strong><br>
        Our failure to enforce any part of these Terms shall not constitute a waiver of our right to later enforce that or any other part of these Terms. Waiver of compliance in any particular instance does not mean that we will waive compliance in the future. In order for any waiver of compliance with these Terms to be binding, we must provide you with written notice of such waiver through one of our authorized representatives.
    </p>
    <p>
        <strong>Headings</strong><br>
        The section and paragraph headings in these Terms are for convenience only and shall not affect their interpretation.
    </p>
    <p>
        <strong>Contact Us</strong><br>
        We value hearing from our users and welcome your feedback. You may contact us anytime at the following email address: <a href="mailto:support@Playjunkie.com">support@Playjunkie.com </a>
    </p>
</div>