.content-container.copy-container {
	padding: 30px 10px;
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	h2 {

	}
	p {
		margin-top: 10px;
		text-indent: 30px;
	}
}

@media (min-width: 460px) {
	.content-container.copy-container {
		padding: 60px calc(50vw - 230px);
		h1 {
			text-align: center;
			margin-bottom: 40px;
		}
		h2 {
			margin-top: 10px;

		}
		p {
			margin-top: 20px;
		}
	}

} 