@import 'shared/variables';
@import 'shared/mixins';

.content-container.main-container.no-banner {
	margin-top: 44px;
	h1.page-title {
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.list-view {
		a:first-child .quiz-list-item {
			margin-top: 0px;
		}
	}
}


.content-container.main-container {
	padding: 10px;
	@include flex-direction(column);
	#banner {
		padding: 0px 10px;
		h1 {
			margin: 40px 0px;
			text-align: center; 
		}
		#get-started {
			display: none;
		}
	}
	.create-quiz-type {
		display: none;
	}
	.side-content {
		display: none;
	}
	.quizzes-content {
		.section-label {
			@include flexbox;
			@include align-items(center);
			img {
				height: 16px;
			}
			span {
				font-size: 18px;
				font-weight: 600;
				margin-left: 10px;
			}
			.divider {
				height: 2px;
				background: $light-outline;
				margin-left: 10px;
				@include flex-grow(1);
			}
		}
		.quiz-sub-info {
			.quiz-user {
				display: none;
			}
			.quiz-type {
				font-size: 12px;
				color: $grey;
				margin-top: 20px;
				font-weight: 600;
			}
		}
		.quizzes-section.card-view > a {
			border: 1px solid $light-outline;
			background: white;
			border-radius: 5px;
			display: block;
			width: 300px;
			margin-right: 10px;
		}
		.quizzes-section.card-view {
			@include flexbox;
			overflow-x: scroll;
			margin-top: 10px;
			margin-bottom: 30px;
			.quiz-card {
				height: 100%;
				width: 240px;
				border-radius: 5px;
				background: white;
				border: 1px solid white;
				position: relative;
				.quiz-image {
					height: 120px;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
					width: 240px;
					position: absolute;
					top: -1px;
					left: -1px;
				}
				.quiz-info {
					padding: 20px;
					margin-top: 120px;
					height: calc(100% - 120px);
					.quiz-title {
						font-size: 18px;
						font-weight: 600;
					}
				}
			}
		}
		.quizzes-section.list-view, {
			.quiz-list-item {
				border: 1px solid $light-outline;
				@include flexbox;
				border-radius: 5px;
				background: white;
				width: 100%;
				height: 90px;
				margin-top: 10px;
				position: relative;
				.quiz-image {
					width: 100px;
					height: 90px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					position: absolute;
					top: -1px;
					left: -1px;
				}
				.quiz-info {
					padding: 18px 10px;
					width: calc(100% - 100px);
					margin-left: 100px;
					font-size: 14px;
					.quiz-title {
						font-size: 18px;
						font-weight: 600;
					}
					.quiz-type {
						display: none;
					}
				}
			}
		}
	}
}

#page-controls {
	a {
		width: 80px;
	}
	margin-top: 10px;
	width: 100%;
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	.btn {
		width: 80px;
		@include flexbox;
		@include align-items(center);
		background: $orange;
		cursor: pointer;
		p {
			font-size: 16px;
			color: white;
			font-weight: 800;
			text-align: center;
			width: 100%;
		}
	}
	.btn:hover {
		background: $hover-orange;
	}
	p {
		font-size: 14px;
	}
}


@media (min-width: 940px) {
	.content-container.main-container.home-container {
		margin-top: 260px;
	}
	.content-container.main-container.no-banner {
		margin-top: 60px;
		.page-title-container {
			@include flexbox;
			@include align-items(center);
			.create-quiz-type {
				display: block;
				background: $red;
				color: white;
				line-height: 40px;
				cursor: pointer;
				text-align: center;
				font-weight: 800;
				width: 100px;
				margin: 20px 0px 40px 40px;
			}
			.create-quiz-type:hover {
				background: $hover-red;
			}
		}
		h1.page-title {
			margin-bottom: 40px;
			margin-top: 20px;
		}
		.list-view {
			a:first-child .quiz-list-item {
				margin-top: 0px;
			}
		}
		.sort-bar {
			margin-bottom: 20px;
		}
	}
	.content-container.main-container {
		margin-top: 260px;
		padding: 40px calc(50vw - 470px) 80px calc(50vw - 470px);
		#main-content {
			@include flexbox;
			.side-content {
				h3 {
					color: $red;
					margin-top: 10px;
				}
				.side-quiz {
					position: relative;
					.quiz-number {
						position: absolute;
						height: 20px;
						width: 20px;
						border-radius: 20px;
						@include flexbox;
						@include align-items(center);
						top: 30px;
						left: 10px;
						background: $red;
						p {
							color: white;
							font-size: 12px;
							font-weight: 600;
							text-align: center;
							margin: 0;
							width: 20px;
						}
					}
				}
			}
		}
		#banner {
			background: #fbfbfb;
			position: absolute;
			top: 60px;
			left: 0px;
			height: 200px;
			width: 100%;
			h1 {
				margin-top: 60px;
			}
			#get-started {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(center);
		    background: $red;
		    color: white;
		    width: 140px;
		    padding: 0px 20px;
		    margin: 30px auto;
		    cursor: pointer;
		    p {
		    	font-size: 16px;
		    	font-weight: 600;
		    	cursor: pointer;
		    	color: white;
		    	height: 16px;
		    	line-height: initial;
		  	}
		    img {

		    }
			}
		}
		.quizzes-content {
			width: 940px;
			.quiz-info {
				@include flexbox;
				@include justify-content(space-between);
				@include flex-direction(column);
			}
			.quiz-sub-info {
				@include flexbox;
				@include justify-content(space-between);
				width: 100%;
				@include align-items(center);
				.quiz-user {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					img {
						width: 20px;
						height: 20px;
						border-radius: 20px;
					}
					p {
						font-size: 12px;
						color: $grey;
						margin-left: 10px;
					}
				}
				.quiz-type {
					font-size: 12px;
					font-weight: 600;
					color: $grey;
					margin: 0px;
				}
			}
			.quizzes-section.card-view {
				@include justify-content(space-between);
				.quiz-card {
					width: 300px;
					height: 100%;
					margin: 0px;
					.quiz-image {
						height: 150px;
						width: 300px;
					}
					.quiz-info {
						height: calc(100% - 150px);
						margin-top: 150px;
						.quiz-sub-info {
							margin-top: 30px;
						}
					}
				}
			}
			.quizzes-secion.card-view > a {
				margin: 0;
			}
			.quizzes-section.list-view {
				margin-right: 20px;
				width: 620px;
				.quiz-list-item {
					height: 150px;
					width: 620px;
					.quiz-image {
						height: 150px;
						width: 200px;
					}
					.quiz-info {
						margin-left: 200px;
						width: calc(100% - 200px);
						padding: 20px;
						.quiz-type {
							display: block;
						}
					}
				}
			}
		}
		.side-content {
			display: block;
		}
		#bottom-ad {
			width: 620px;
			height: 115px;
			margin-top: 60px;
			border: 1px solid $blue;
			border-radius: 5px;
		}
	}
	#page-controls {
		margin-top: 20px;
		a {
			width: 100px;
		}
		.btn {
			width: 100px;
		}
	}
}

