@import 'shared/variables';
@import 'shared/mixins';

#mobile-container {
	display: none;
}


.quiz-form-container {
	padding: 60px calc(50vw - 470px);
	margin-bottom: 60px;
	.image-preview {
		background-position: center;
		background-size: cover;
		position: relative;
		@include flexbox;
		@include align-items(center);
	}

	.image-form {
		position: absolute;
		z-index: 2;
		input[type='file'] {
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	.image-form.quiz-image-upload {
		height: 130px;
		width: 173px;
	}
	.image-form.quiz-item-image-upload {
		height: 260px;
		width: 400px;
		right: 0;
	}
	.image-form.answer-image-upload, .image-form.result-image-upload {
		height: 76px;
		width: 115px;
		top: 10px;
	}
	.image-form.result-image-upload {
		top: 100px;
	}
	.form-box .card-side .image-form.quiz-item-image-upload  {
		height: 30px;
		width: 80px;
		bottom: 20px;
		right: 65px;
		z-index: 3;
		.card-image-input {
			height: 100%;
			width: 100%;
		}
	}






	div.char-countable {
		position: relative;
		.char-count {
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: $grey;
			font-size: 12px;
		}
		.char-count.single-row {
			bottom: 13px;
		}
		.char-count.left {
			right: initial;
			left: -20px;
		}
	}
	.card-side {
		.char-count {
			position: absolute;
			color: $grey;
			font-size: 12px;
			line-height: 12px;
			top: 20px;
			left: 136px;
		}
	}
	#quiz-main-info {
		@include flexbox;
		margin-top: 40px;
		position: relative;
		width: 620px;
		#quiz-image-input {
			height: 130px;
			width: 173px;
			display: block;
			opacity: 0;
			z-index: 2;
			cursor: pointer;
		}
		#quiz-image-preview {
			height: 130px;
			width: 173px;
			border-radius: 8px;
			text-align: center;
			line-height: 130px;
			color: $grey;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			z-index: 1;
			cursor: pointer;
		}
		.image-input-overlay {
			height: 130px;
			width: 173px;
			border-radius: 8px;
			border: 1px solid $dark-outline;
			text-align: center;
			line-height: 130px;
			color: $grey;
			left: 0;
			top: 0;
		}
		#quiz-text-info {
			margin-left: 10px;
			width: 437px;
			input, textarea {
				width: 100%;
				padding: 12px 10px;
				font-size: 16px;
				border: 1px solid $dark-outline;
			}
			textarea {
				margin-top: 10px;
				line-height: 16px;
			}
		}
	}

	h2.content-title {
		margin-top: 60px;

	}

	.form-box {
		border: 1px solid $dark-outline;
		padding: 30px 20px;
		margin-top: 20px;
		border-radius: 8px;
		width: 620px;
		position: relative;
		.closer {
			cursor: pointer;
			position: absolute;
			top: -10px;
			right: -10px;
			height: 20px;
			width: 20px;
			z-index: 3;
		}
		.close-image {
			display: none;
		}
		.move-question {
			position: absolute;
			height: 20px;
			width: 20px;
			left: -10px;
			top: 13px;
			cursor: pointer;
			display: none;
		}
		.move-question.move-down {
			top: 43px;
		}
		h3 {
			color: $red;
			font-weight: 800;
			margin-bottom: 30px;
			p {
				display: inline;
				color: $red;
				font-size: 16px;
				font-weight: 800;
			}
		}
		.divider {
			background: #cfcfcf;
			height: 1px;
			width: 100%;
			margin-top: 30px;
		}
		h3.answer-header {
			color: $dark-grey;
			margin-top: 30px;

		}
		.side-chooser {
			width: 285px;
			text-align: center;
			font-weight: 800;
			color: $dark-outline;
			border: 1px solid $dark-outline;
			cursor: pointer;
		}
		.side-chooser.selected {
			background: $dark-outline;
			color: $dark-grey;
		}
		.choose-front {
			margin-right: 10px;
		}
		.box-field .card-side {
			position: relative;

			div.question-image-input {
				background: rgb(30, 94, 253);
				cursor: default;
				padding: 12px 60px 15px 60px;
				position: relative;
				@include flexbox;
				@include justify-content(space-between);
				@include flex-direction(column);
				@include align-items(center);
				.add-card-text {
					background: $dark-outline;
					text-align: center;
					border-radius: 8px;
					width: 80px;
					line-height: 30px;
					cursor: pointer;
					z-index: 2;
				}
				.text-box {
					width: 320px;
					height: auto;
					position: absolute;
					left: 40px;
					top: 118.5px;
					color: white;
					z-index: 2;
					font-size: 24px;
					line-height: 24px;
					word-wrap: break-word;
				}
				.text-box:focus {

				}
			}
			input.question-image-input {
				width: 80px;
				height: 30px;
				top: auto;
				bottom: 20px;
				right: 65px;
				cursor: pointer;
			}

			.background-edit-container {
				width: 100%;
				height: 40px;
				position: relative;
				@include flexbox;
				@include align-items(center);
				line-height: initial;
				* {
					z-index: 2;
				}
				.image-preview {
					z-index: 1;
				}
				.colors-container {
					width: 140px;
					height: auto;
					p {
					 	color: white;
					 	font-size: 8px;
					 	width: 100%;
					 	text-align: center;
					 	margin-bottom: 5px;
					 	height: 8px;
					 	line-height: 8px;
					}
					.colors {
						height: 20px;
						width: 100%;
						@include flexbox;
						@include justify-content(space-between);
						.color {
							height: 20px;
							width: 20px;
							border: 1px solid white;
							border-radius: 20px;
							cursor: pointer;
							background: red;
						}
					}
				}
				.or {
					width: 14px;
					font-size: 12px;
					margin: 0px 20px;
					color: white;
					height: 12px;
					line-height: 12px;
				}
				.card-image-input-btn {
					background: $dark-outline;
					text-align: center;
					border-radius: 8px;
					width: 80px;
					line-height: 30px;
					cursor: pointer;
				}
			}
			
		}
		.box-field {
			@include flexbox;
			width: 100%;
			@include justify-content(space-between);
			margin-bottom: 10px;
			position: relative;
			.box-label {
				margin-top: 12px;
			}
			.box-input {
				border: 1px solid $dark-outline;
				border-radius: 8px;
				width: 400px;
				height: 40px;
			}
			.box-input.question-image-input {
				height: 260px;
				cursor: pointer;
				line-height: 260px;
				text-align: center;
				color: $grey;
			}
			input[type="file"] {
				position: absolute;
				right: 0;
				height: 260px;
				top: 0;
				width: 400px;
				opacity: 0;
				z-index: 4;
				cursor: pointer;
			}
			input, textarea {
				padding-left: 10px;
				padding-right: 10px;
			}
			textarea {
				padding: 10px;
			}
			.question-image-preview {
				position: absolute;
				right: 0;
				height: 260px;
				top: 0;
				width: 400px;
				z-index: 1;
				cursor: pointer;
				display: none;
				border-radius: 8px;
				background-position: center;
				background-size: cover;
			}
			.answer-format-selection {
				width: 400px;
				@include flexbox;
				.answer-format {
					height: 40px;
					width: 40px;
					margin-right: 10px;
					cursor: pointer;
				}
				.answer-format.selected, .image-format.answer-format {
					display: none;
				}
				.answer-format.image-format.selected {
					display: block;
				}
			}
		}
		.form-answers, .form-results {
			width: 100%;
			@include flexbox;
			@include flex-wrap(wrap);
			.form-answer, .image-and-text-box  {
				width: calc((100% - 40px) / 4);
				height: 300px;
				border-radius: 8px;
				background: white;
				padding: 10px;
				position: relative;
				border: 1px solid $dark-outline;
				margin-left: 10px;
				margin-bottom: 10px;
				transition-duration: 0s;
				.close-image {
					right: 7px;
    			top: 10px;
				}
				input, textarea, .image-input {
					width: 100%;
					border: 1px solid $dark-outline;
					border-radius: 8px;
					margin-bottom: 10px;
					padding: 10px;
					font-size: 12px;
				}
				.image-input {
					height: 76px;
					text-align: center;
					color: $grey;
					padding: 30px 0px;
					cursor: pointer;
					background: $background-white;
				}
				input[type="file"], .answer-image-preview {
					height: 76px;
					position: absolute;
					top: 10px;
					left: 10px;
					width: 115px;
					cursor: pointer;
					opacity: 0;
					z-index: 2;
				}
				.answer-image-preview {
					opacity: 1;
					display: none;
					border-radius: 8px;
					z-index: 1;
				}
				textarea {
					height: 80px;
				}
				input {
					height: 40px;
				}
				.checkbox-container {
					width: 72px;
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					height: 16px;
					margin: 20px auto 10px auto;
					input {
						height: 14px;
						width: 14px;
						margin: 0;
						padding: 0;
					}
				}
				select {
					width: 100%;
					height: 40px;
					border-radius: 8px;
					border: 1px solid $dark-outline;
					padding: 10px;
					font-size: 12px;
				}
			}
			div:nth-child(4n - 3) {
				margin-left: 0px;
			}
		}
		.image-style .add-answer {
			width: calc((100% - 40px) / 4);
			border: 1px solid $dark-outline;
			height: 300px;
			margin-left: 10px;
			@include flexbox;
			@include justify-content(space-between);
			@include flex-direction(column);
			padding: 112px 0px;
			cursor: pointer;
			border-radius: 8px;
			img {
				height: 40px;
				width: 40px;
				margin: 0 auto;
			}
			p {
				font-weight: 800;
				font-size: 16px;
				text-align: center;
				margin-top: 20px;
			}
		}

		.text-style .add-answer {
			width: 100%;
			border: none;
			height: 40px;
			margin: 10px 0 0 0;
			background: $dark-outline;
			cursor: pointer;
			border-radius: 8px;
			@include flexbox;
			@include flex-direction(row);
			@include align-items(center);
			padding: 0px 232px;
			transition: 0s;
			p {
				font-weight: 800;
				font-size: 16px;
				width: auto;
				display: block;
				margin-left: 10px;
			}
			img {
				height: 20px;
				width: 20px;
				display: block;
			}
		}
		.form-answers.text-style {
			.image-preview {
				display: none !important;
			}
			.close-image {
				display: none !important;
			}
			.text-answer-form:first-child {
				margin-top: 0px;
			}
			.form-answer {
				@include flexbox;
				@include justify-content(space-between);
				position: relative;
				margin-top: 10px;
				height: 40px;
				width: 100%;
				border: none;
				background: none;
				padding: 0px;
				margin-left: 0px;
				.answer-text-input {
					height: 40px;
					width: 450px;
					border: 1px solid $dark-outline;
					border-radius: 8px;
					padding: 10px;
				}
				.answer-image-input, .answer-image-credit-input, .image-input {
					display: none;
				}
				.checkbox-container {
					background: white;
					border: 1px solid $dark-outline;
					height: 40px;
					width: 120px;
					padding: 0px 24px;
					margin: 0px;
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					border-radius: 8px;
				}
				select {
					width: 120px;
				}
			}
		}
		.form-results.show-add-result {
			.add-result {
				@include flexbox;
			}
		}
		.form-results {
			@include flexbox;
			width: 100%;
			height: 100%;
			.form-result {
				height: 100%;
				position: relative;
				margin-bottom: 10px;
				.result-image-preview {
					position: absolute;
					left: 10px;
					height: 76px;
					top: 100px;
					width: 115px;
					opacity: 0;
					z-index: 2;
					cursor: pointer;
				}
				.close-image {
					right: -2px;
    			top: 90px;
				}
				.result-image-preview {
					border-radius: 8px;
					display: none;
					z-index: 1;
					opacity: 1;
				}
				.results-range  {
					p {
						text-align: center;
						font-size: 12px;
					}
					margin-top: 20px;
				}
			}
			.add-result {
				width: calc((100% - 40px) / 4);
				border: 1px solid $dark-outline;
				margin-left: 10px;
				margin-bottom: 10px;
				border-radius: 8px;
				@include flexbox;
				transition-duration: 0s;
				display: none;
				@include align-items(center);
				@include align-content(center);
				div {
					background: $orange;
					cursor: pointer;
					color: white;
					font-weight: 800;
					text-align: center;
					width: calc(100% - 20px);
					margin: 0px 20px;
				}
				div:hover {
					background: $hover-orange;
				}
			}
		}
	}
	#add-question {
		background: $orange;
		text-align: center;
		color: white;
		font-weight: 800;
		cursor: pointer;
		margin-top: 20px;
		width: 620px;
	}

	#add-question:hover {
		background: $hover-orange
	}

	.results-box {
		padding: 20px;
	}
	#submit-bar {
		position: fixed;
		width: 100%;
		height: 60px;
		background: white;
		bottom: 0px;
		left: 0px;
		z-index: 5;
		#errors {
			position: absolute;
	    width: 360px;
	    bottom: 90px;
	    right: 60px;
		}
		.error-message {
			color: $red;
			margin-top: 10px;
			display: none;
		}
		#correct-answer-error {
			bottom: 140px;
		}
		#submit-bar-content {
			height: 100%;
			width: 620px;
			margin-left: calc(50vw - 470px);
			padding: 10px 0px;
			@include flexbox;
			@include justify-content(space-between);
			.btn {
				width: 100px;
				height: 100%;
				text-align: center;
				font-weight: 800;
				cursor: pointer;
			}
			#preview-quiz {
				background: white;
				color:  $grey;
				border: 1px solid $grey;
			}
			#submit-actions {
				@include flexbox;
				position: relative;
				.save-quiz {
					background: $dark-outline;
					color: $dark-grey;
				}
				.publish-quiz {
					background: $red;
					color: white;
					margin-left: 10px;
				}
				.publish-quiz:hover {
					background: $hover-red;
				}
				.publish-quiz.grey {
					background: $dark-outline;
					color: $dark-grey;
				}
			}
		}
	}
	textarea#quiz_completion_message {
		width: 620px;
		border: 1px solid $dark-outline;
		padding: 12px 10px;
		margin-top: 60px;
		line-height: 16px;
	}
}
.quiz-form-container.list-oriented-quiz, .quiz-form-container.result-oriented-quiz {
	#add-question {
		margin-bottom: 40px;
	}
}

.quiz-form-container.list .form-box .box-field .question-image-preview {
	background-size: contain;
  background-repeat: no-repeat;

}




/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	cursor: pointer;
	transform-style: preserve-3d;
}
	/* flip the pane when hovered */
// .flip-container.flip .flipper, .flip-container.hover .flipper {
// 	transform: rotateY(180deg);
// 	-webkit-transform: rotateY(180deg);
// }
.flip-container.flip .back {
	transform: rotateY(0deg);
}
.flip-container.flip .front {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
	height: 260px;
	width: 400px;
}

.flipcard {
	.flip-container, .front, .back {
		height: calc((100vw - 20px) * 2 / 3 + 50px);
		width: 100%;
	}
}

@media (min-width: 960px) {
	.flipcard {
		.flip-container, .front, .back {
			height: 414px;
			width: 620px;
		}
	}
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	transition: 0.4s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}



#flash-message {
	// display: none;
	position: absolute;
	color: $green;
  bottom: 13px;
  font-size: 15px;
  right: calc(100% + 40px);
  width: 160px;
  text-align: right;

}

#flash-message.blue {
	color: $blue;
}



@media (max-width: 620px) {
	.quiz-form-container {
		display: none;
	}
	#mobile-container {
		display: block;
		margin-top: 44px;
		width: 100vw;
		height: calc(100vh - 44px);
		padding: 30px 10px 10px 10px;
		@include flexbox;
		@include justify-content(space-between);
		@include flex-direction(column);
		p {
			font-size: 20px;
			font-weight: 800;
		}
		.btn {
			background: $red;
			color: white;
			width: 100%;
			line-height: 44px;
			text-align: center;
			font-size: 15px;
			font-weight: 800;
		}
	}
}