@import 'shared/variables';
@import 'shared/mixins';

.user-forms-container {
	padding: 10px calc(50vw - 150px);
	.signin-content, .signup-content {
		border-radius: 5px;
		height: auto;
		width: 300px;
		background: white;
		border: 1px solid $light-outline;
		padding: 30px 10px;
		text-align: center;
		margin-bottom: 10px;
	}
	.fb-signin {
		width: 280px;
		img {
			height: 20px;
		}
		padding: 0px 54px;
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-between);
		background: #3B5998;
		color: white;
		margin-top: 20px;
		p {
			font-size: 14px;
			color: white;
		}
	}
	.or {
		text-align: center;
		font-size: 14px;
		margin-top: 20px;
		height: 14px;
	}
	form {
		text-align: left;
		.signin-row {
			label {
				display: block;
				margin-top: 20px;
				font-weight: 600;
				font-size: 14px;
			}
			input {
				border: 1px solid $light-outline;
				margin-top: 10px;
				width: 100%;
				padding: 0px 20px;
			}
		}
		#signin {
			background: $orange;
			color: white;
			width: 100%;
			text-align: center;
			font-size: 14px;
			margin-top: 20px;
			cursor: pointer;
			border-radius: 5px;
			border: none;
			box-shadow: none;
			text-shadow: none;
		}
		#signin:hover {
			background: $hover-orange;
		}
	}
	#forgot-pw {
		color: $orange;
		text-align: center;
		font-size: 14px;
		border-bottom: 1px solid $light-outline;
		width: 100%;
		margin-top: 20px;
		padding-bottom: 10px;
		cursor: pointer;
	}
	#signup-terms {
		font-size: 10px;
		margin-top: 20px;
	}
	.signup-text {
		@include flexbox;
		@include justify-content(space-between);
		margin-top: 20px;
		width: 200px;
		margin: 20px auto 0px auto;
		p {
			font-size: 14px;
		}
		.signup-link {
			margin-left: 10px;
			color: $orange;
			cursor: pointer;
		}
	}
	.error-message {
		color: $red;
		margin-top: 10px;
	}
}


////// add classes for 14 - 16px shifts
@media (min-width: 768px) {
.user-forms-container {
	padding: 40px calc(50vw - 210px);
	.signin-content {
		margin-bottom: 60px;
		width: 420px;
		padding: 60px;
	}
	form {
		.signin-row {
			label {
				font-size: 16px;
			}
		}
		#signin {
			font-size: 16px;
		}
	}
	.fb-signin {
		width: 300px;
		p {
			font-size: 16px;
		}
	}
	.or {
		height: 16px;
		font-size: 16px;
	}
	#forgot-pw, .signup-text {
		font-size: 16px;
		p {
			font-size: 16px;
		}
	}
	.signup-text {
		width: 210px;
	}
}

}