@import 'shared/variables';
@import 'shared/mixins';

.settings-container {
	padding: 30px 10px 10px 10px;
	.user-settings-form {
		h2 {
			margin-top: 20px;
			font-weight: 800;
		}
		textarea {
			margin-top: 10px;
			width: 100%;
			height: 88px;
			display: block;
			border: 1px solid $light-outline;
			line-height: 14px;
			padding: 15px 10px;
		}
		input {
			margin-top: 10px;
			height: 44px;
			width: 100%;
			display: block;
			border: 1px solid $light-outline;
			padding: 15px 10px;
		}
		#submit-settings {
			width: 100%;
			background: $red;
			color: white;
			text-align: center; 
			line-height: 44px;
			padding: 0px;
			cursor: pointer;
			margin-top: 30px; 
		}
		#submit-settings:hover {
			background: $hover-red;
		}
	}
}

@media (min-width: 1024px) {
	.settings-container {
		padding: 80px calc(50vw - 470px);
	}
}