<header>
	<%= image_tag 'navbar/mobile-search', id: "search-icon" %>
	<%= image_tag 'logo.svg', id: "logo" %>
	<%= image_tag 'navbar/mobile-menu', id: 'menu-icon' %>
	<div id="nav-dropdown">
		<div class="dropdown-content">
			<li class="bold">Home</li>
			<li class="bold no-outline">Trending</li>
			<li class="list-header">Categories</li>
			<div class="nav-categories">
				<li>Trivia</li>
				<li>Quizzes</li>
				<li>Flip Cards</li>
				<li class="no-outline">Lists</li>
			</div>
		</div>
	</div>
</header>